

body {
    background-color: #2468b1;
    overflow: hidden;
}

#pokemon-choice {
    position: absolute;
    top: 10%;
    left: 40%;
    right: 40%;
    width: 20%;
    height: 2.5%;
    justify-content: center;
}

#pokemon-image {
    background-color: #FCCF00;
    border-style: solid;
    border-color: black;
    position: absolute;
    top: 20%;
    left: 40%;
    right: 40%;
    width: 20%;
    height: 20%;
}