.App {
    height: 100vh;
    width: 100vw;
    background-color: hsl(203, 100%, 37%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.container {
    grid-column: 1;
    grid-row: 1;
    place-self: center;
    height: 80%;
    width: 450px;
    background-color: hsl(48, 100%, 50%);
    border: 4px solid black;
    border-radius: 1rem;

    display: grid;
    grid-template-areas: 
        "search"
        "image"
        "abilities";
    grid-template-rows: 100px 300px 1fr;
    place-items: center;
}

.search {
    grid-area: search;
}

select {
    width: 3in;
    color: black;
    background-color: hsl(0, 0, 90%);
    border: 4px black solid;
    border-radius: 1rem;
}

.pokemon__sprite {
    background-color: hsl(0, 0, 90%);
    border: 4px black solid;
    border-radius: 1rem;
    object-fit: contain;
    height: 3in;
    width: 3in
}